@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  letter-spacing: 0em;
  color: #EFF3F5;
}

body {
  background-color: #6E105E;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

h3 {
  color: #EFF3F5;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

a {
  text-decoration: none;
  color: #EFF3F5;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
  background-color: #6E105E;
}

.container {
  width: 80%;
  margin: 0px auto;
}

.header_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
}

.menu_list {
  display: flex;
  flex-direction: row;
}

.menu_list li {
  white-space: nowrap;
  margin: auto;
  margin-right: 5%;
}

.main {
  width: 80%;
  margin: 0px auto;
  height: 100%;
}

.name_of_section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #EFF3F5;
  font-weight: 800;
  font-size: 42px;
  line-height: 61px;
}

.blogers {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 23.875%);
  grid-column-gap: 1.5%;
  grid-row-gap: 7.5%;
  align-items: center;
  grid-row: 1;
}

.card {
  width: 100%;
  height: 100%;
  align-items: center;
}

.context {
  margin: 60% 4% 6% 4%;
}

.context span {
  color: #EFF3F5;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.statistic {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  font-size: 20px;
}

.statistic div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.statistic img {
  width: 12%;
}

.statistic p {
  margin-left: 5%;
}

#card_1 {
  background: linear-gradient(rgba(189, 28, 159, 0.5), rgba(189, 28, 159, 0.5)), url("../media/Rectangle 25.png") center/cover;
}

#card_1:hover {
  background: url("../media/Rectangle 25.png") center/cover;
  box-shadow: 0 0 15px black;
}

#card_1:hover .context {
  display: none;
}

#card_2 {
  background: linear-gradient(rgba(189, 28, 159, 0.5), rgba(189, 28, 159, 0.5)), url("../media/Rectangle 26.png") center/cover;
}

#card_2:hover {
  background: url("../media/Rectangle 26.png") center/cover;
  box-shadow: 0 0 15px black;
}

#card_2:hover .context {
  display: none;
}

#card_3 {
  background: linear-gradient(rgba(189, 28, 159, 0.5), rgba(189, 28, 159, 0.5)), url("../media/Rectangle 27.png") center/cover;
}

#card_3:hover {
  background: url("../media/Rectangle 27.png") center/cover;
  box-shadow: 0 0 15px black;
}

#card_3:hover .context {
  display: none;
}

#card_4 {
  background: linear-gradient(rgba(189, 28, 159, 0.5), rgba(189, 28, 159, 0.5)), url("../media/Rectangle 28.png") center/cover;
}

#card_4:hover {
  background: url("../media/Rectangle 28.png") center/cover;
  box-shadow: 0 0 15px black;
}

#card_4:hover .context {
  display: none;
}

#card_5 {
  background: linear-gradient(rgba(189, 28, 159, 0.5), rgba(189, 28, 159, 0.5)), url("../media/Rectangle 29.png") center/cover;
}

#card_5:hover {
  background: url("../media/Rectangle 29.png") center/cover;
  box-shadow: 0 0 15px black;
}

#card_5:hover .context {
  display: none;
}

#card_6 {
  background: linear-gradient(rgba(189, 28, 159, 0.5), rgba(189, 28, 159, 0.5)), url("../media/Rectangle 30.png") center/cover;
}

#card_6:hover {
  background: url("../media/Rectangle 30.png") center/cover;
  box-shadow: 0 0 15px black;
}

#card_6:hover .context {
  display: none;
}

#card_7 {
  background: linear-gradient(rgba(189, 28, 159, 0.5), rgba(189, 28, 159, 0.5)), url("../media/Rectangle 31.png") center/cover;
}

#card_7:hover {
  background: url("../media/Rectangle 31.png") center/cover;
  box-shadow: 0 0 15px black;
}

#card_7:hover .context {
  display: none;
}

#card_8 {
  background: linear-gradient(rgba(189, 28, 159, 0.5), rgba(189, 28, 159, 0.5)), url("../media/Rectangle 32.png") center/cover;
}

#card_8:hover {
  background: url("../media/Rectangle 32.png") center/cover;
  box-shadow: 0 0 15px black;
}

#card_8:hover .context {
  display: none;
}

.loading_line {
  border: 1px solid #EFF3F5;
  color: #EFF3F5;
  /* Цвет линии для IE6-7 */
  height: 0px;
  /* Толщина линии */
}
