@mixin grid($amount-colums, $width, $amount-rows, $height, $indent-c, $indent-r){
  display: grid;
  grid-template-columns: repeat($amount-colums, $width);
  grid-template-rows: repeat($amount-rows, $height);
  grid-column-gap: $indent-c;
  grid-row-gap: $indent-r;
  align-items: center;
}
